*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial;
}

:root {
  --color-darkGreen: #424d52;
  --color-lightGreen: #869c8b;
  --color-darkGray: #272727;
  --color-lightGray: #696969;
  --color-blue: #211a73;
  --color-red: #821f1f;
  --border-size: .7vmin;
  --board-size: 90vmin;
}

body {
  background-color: var(--color-darkGray);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}


#game-board {
  width: var(--board-size);
  height: var(--board-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-lightGreen);
  transform: translateY(5vmin);
  border: var(--border-size) solid var(--color-lightGreen);
  user-select: none;
  overflow: hidden;
}

#top-bar {
  width: 100%;
  height: calc(100% / 7);
  background-color: var(--color-darkGreen);
  color: var(--color-lightGreen);
  text-align: center;
  font-size: calc(11vmin);
  box-shadow: 0 0 0 calc(var(--border-size) / 2) var(--color-lightGreen);
}

#squares {
  width: 100%;
  height: calc(100% / 7 * 6);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  position: relative;
  overflow: hidden;
  border-top: var(--border-size) solid var(--color-lightGreen);
  cursor: pointer;
}

.square {
  overflow: hidden;
  border: var(--color-darkGreen) solid calc(var(--border-size) / 2);
  padding: calc(var(--border-size));
  box-shadow: inset 0 0 0 var(--border-size) var(--color-lightGray), 0 0 0 calc(var(--border-size) / 2) var(--color-darkGreen);
}

.square::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 0 calc(var(--border-size) * 5) var(--color-lightGray);
  border: var(--color-darkGreen) solid var(--border-size);
  display: block;
}

.square.left {
  border-left: none;
}

.square.right {
  border-right: none;
}

.square.bottom {
  border-bottom: none;
}

.square.top {
  border-top: none;
}

.piece {
  --x: 1;
  --y: 3;
  --size: calc(var(--board-size) / 7 - var(--border-size) * 4);
  position: absolute;
  background-color: var(--color-red);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  left: calc(var(--board-size) / 7 / 2 - var(--size) / 2 - var(--border-size) / 2 + var(--x) * (var(--board-size) / 7 - var(--border-size) / 6));
  top: calc(var(--board-size) / 7 + var(--board-size) / 7 / 2 - var(--size) / 2 + var(--y) * (var(--board-size) / 7 - var(--border-size) / 3));
}

.piece[data-color="red"] {
  background-color: var(--color-red);
}

.piece[data-color="blue"] {
  background-color: var(--color-blue);
}

.piece:not(.player-piece) {
  animation: drop 500ms cubic-bezier(0.47, 0, 0.45, 1) forwards;
}

.piece.player-piece {
  left: 0;
  transition: transform 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#settings-button {
  cursor: pointer;
  position: absolute;
  align-items: center;
  left: calc((var(--board-size) / 7 - var(--border-size) / 4) * 6);
  top: 0;
  width: calc(100% / 7);
  height: calc(100% / 7);
  background: none;
  border: none;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 4%;
  gap: 20%;
}

.setting-bar {
  width: 100%;
  height: calc(100%);
  background-color: var(--color-lightGreen);
  border-radius: calc(var(--board-size) / 7 / 2);
  transition: all 80ms ease-in-out;
  box-shadow: 0 calc(var(--border-size)) calc(var(--border-size)) var(--color-darkGray);
}

#settings-button:active>.setting-bar {
  transform: translateY(calc(var(--border-size) / 2));
  box-shadow: none;
}

#settings-menu {
  position: absolute;
  width: 50%;
  height: 50%;
  top: calc(100% / 7);
  right: 0;
  background-color: var(--color-darkGreen);
  border-radius: 1vmin;
  border: var(--border-size) solid var(--color-lightGreen);
  box-shadow: 0 0 var(--border-size) calc(var(--border-size)) var(--color-darkGreen);
  transform-origin: top right;
  display: grid;
  padding-left: 1vmin;
  padding-right: 1vmin;
  padding-top: calc(50% / 16);
  grid-template-columns: 30% 1fr;
  grid-template-rows: repeat(4, calc(100% / 8));
  gap: calc(100% / 16);
  justify-items: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}

#settings-menu.hidden {
  transform: scale(0);
}

.radio {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--color-lightGray);
  border-radius: calc(var(--board-size) / 7 / 2);
  border-radius: 1vmin;
  display: grid;
  gap: 1%;
  border: var(--border-size) solid var(--color-lightGreen);
  box-shadow: inset 0 0 var(--border-size) calc(var(--border-size) / 2) var(--color-darkGreen);
}

.select2 {
  grid-template-columns: repeat(2, 1fr);
}

.select3 {
  grid-template-columns: repeat(3, 1fr);
}


.r-label {
  position: relative;
  color: var(--color-lightGreen);
  font-size: 3vmin;
  font-weight: bold;
}

.radio input {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  border-radius: .8vmin;
  outline: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.radio input:checked {
  background-color: var(--color-lightGreen);
  color: var(--color-darkGreen);
  box-shadow: 0 0 calc(var(--border-size) / 2) calc(var(--border-size) / 2) var(--color-darkGreen);
}

.radio input {
  color: var(--color-lightGreen);
  text-align: center;
  font-size: 3vmin;
  padding: 0;
  font-weight: bold;
}

.radio input::after {
  content: attr(label);
}

.test {
  width: 100px;
  height: 100px;
}

#new-game {
  width: 50%;
  height: 70%;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--color-lightGreen);
  border: var(--border-size) solid var(--color-lightGray);
  border-radius: 2vmin;
  color: var(--color-darkGreen);
  font-size: 3vmin;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 var(--border-size) calc(var(--border-size)) calc(var(--border-size) / 2) var(--color-darkGray);
  transform: translateY(calc(var(--border-size) / -1));
  transition: all 80ms ease-in-out;
  padding: 0;

}

#new-game:active {
  box-shadow: none;
  transform: translateY(calc(var(--border-size) / -2));
}

@keyframes drop {
  0% {
    transform: translateY(calc(var(--board-size) / -7 * (var(--y) + 1)));
  }

  60% {
    transform: translateY(0);
  }

  65% {
    transform: translateY(calc(var(--board-size) / -7 * (var(--y) + 1) * .03));
  }

}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}